.row {
  width: 550px;
  margin: 0px auto;
  border: 4px solid black;
  padding: 30px;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: white;
}
#title {
  font-size: 50px;
  text-align: center;
  margin: auto;
}
.input {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  border: none;
}
.btn {
  width: 100%;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px;
  font-size: 18px;
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 20px;
}
body {
  background-image: linear-gradient(
    to left,
    #0c026e,
    #45318a,
    #6f5ea6,
    #988cc1,
    #c3bcdc,
    #c3bcdc,
    #c3bcdc,
    #c3bcdc,
    #988cc1,
    #6f5ea6,
    #45318a,
    #0c026e
  );
}
@media (max-width: 610px) {
  .row {
    width: 520px;
  }
  .input {
    font-size: 16px;
  }
  .tag {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .input {
    padding-left: 15px;
    padding-right: 15px;
  }
  #amount {
    margin-bottom: 10px;
  }
}
@media (max-width: 540px) {
  .row {
    width: 420px;
  }
}
@media (max-width: 443px) {
  .row {
    width: 370px;
  }
}
@media (max-width: 395px) {
  .row {
    width: 340px;
  }
}
